/* For modern browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For IE and Edge */
body {
  -ms-overflow-style: none;
  overflow-y: scroll; /* Ensures scrolling still works */
}


* {
  max-width: 100%;
  margin: 0 ;
  padding: 0;
}